canvas { 
    border: 2ex solid grey; 
}

body {
    padding: 5em;
    text-align: center;
    background-color: #E8F3F4;
}

#canvasPane {
    margin-bottom: 1em;
}

#inputPane, #buttonPane, #directionsPane {
    margin-top: 3em;
    margin-bottom: 3em;
}

.button {
    padding: 1ex;
    margin-left: 1ex;
    margin-right: 1ex;
    background-color: #93B0B9;
    border-radius: 1ex;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#runButton {
    background-color: #EDBD0B;
    color: #424B59;
}